@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Bold-slnt_1.woff);
  font-weight: bold;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Light-slnt0.woff);
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-SemiBold-slnt_1.woff);
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-100: #24292e;
  --color-200: #ffffff;
  --color-300: #586069;
  --color-400: #2ea44f;
  --color-500: #0366d6;
  --color-600: #f66a0a;
  --color-btn-bg: #fafbfc;
  --color-btn-border: rgba(27, 31, 35, 0.15);
  --color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  --color-btn-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  --max-width: 1200px;
  --header-icon-size: 48px;
  --header-btn-size: 32px;
}

.ctn {
  width: 100%;
  max-width: 1200px;
  padding: 4px 8px;
  margin: 0 auto;
}

body {
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

.mobile {
  display: inline-block;
}

.desktop {
  display: none;
}

.md {
  font-size: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.home {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
}

.home-ctn {
  width: 90%;
  max-width: 400px;
}

.home-logo-box {
  --size: 56px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  margin: 0 auto 16px auto;
}

.home-heading {
  font-size: 1.64rem;
  margin-bottom: 2px;
}

.home-form {
  width: 100%;
  max-width: 320px;
  margin: 32px auto 0 auto;
}

.form-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: inherit;
}

.form-input-box,
.form-submit-btn {
  --size: 56px;
  height: var(--size);
  font-family: inherit;
  font-size: 0.9rem;
  border: 1px solid var(--color-500);
  outline: none;
}

.form-input-box {
  width: calc(100% - 64px);
  padding: 4px 16px;
  border-radius: 8px;
  margin-right: 8px;
}
.form-submit-btn {
  font-weight: 600;
  width: var(--size);
  padding: 4px 8px;
  background: var(--color-500);
  color: var(--color-200);
  border-radius: 8px;
  cursor: pointer;
}

.main {
  width: 100%;
}

.main-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 48px 0;
}

.header-image-ctn {
  --size: 168px;
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--color-100);
  border-radius: 50%;
  margin: 0 auto;
}

.img-box {
  display: inline;
}

.header-image {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header-names-ctn {
  text-align: center;
  margin: 24px auto 32px auto;
}

.header-user-stats-ctn {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.user-stat-box {
  flex: 1 auto;
  min-width: 100px;
  padding: 16px 12px;
  font-size: 0.9rem;
  border: 1px solid var(--color-100);
  text-align: center;
}

.user-stat-number {
  font-weight: 600;
  font-size: 1.32rem;
  margin-bottom: 8px;
}

.cards-ctn {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card {
  width: 100%;
  max-width: 400px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid var(--color-100);
  padding: 24px 16px;
  margin-bottom: 24px;
  border-radius: 4px;
  overflow-y: auto;
}

.card-repo-name {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.card-repo-link {
  font-size: 1.2rem;
  color: var(--color8);
  text-decoration: none;
}

.card-repo-text-ctn {
  width: 100%;
  margin-bottom: 32px;
}

.card-repo-stats {
  font-size: 0.88rem;
  display: flex;
  align-items: center;
}

.card-repo-stats-box:not(:last-child) {
  margin-right: 16px;
}

.card-repo-stats-box:last-child {
  margin-left: auto;
  color: var(--color2);
}

@media (min-width: 768px) {
  .cards-ctn {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    width: 46%;
  }

  .mobile {
    display: none;
  }
  .desktop {
    display: inline-block;
  }

  .user-stat-box {
    margin: 0 4px;
    border-radius: 4px;
  }
}

@media (min-width: 1100px) {
  .card {
    width: 32%;
  }
}
